<mat-toolbar color="primary" class="header-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/logo.png" alt="Logo" class="logo-header">
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <img src="assets/user.png" alt="User" class="user-icon">
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-title">
      <h3>General</h3>
    </div>
    <mat-accordion>
      <ng-container *ngFor="let menuItem of menuItems">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{ menuItem.icon }}</mat-icon>
              {{ menuItem.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item *ngFor="let child of menuItem.children" [routerLink]="child.route" class="child-menu-item">
              <mat-icon>{{ child.icon }}</mat-icon>
              <span>{{ child.title }}</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
